rules_version = '2';
service cloud.firestore {
  match /databases/{db}/documents {
    match /recipients/{id} {
      allow read: if true;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.ownerUid;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.ownerUid;
    }
    match /tags/{tagId} {
      allow read: if true;
    }
  }
}
